body {
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
}

h1 span {
    display: block;
}

.page {
    background: white;
}
a:link {
    color: black;
    text-decoration: none;
    -webkit-transition: all 1s ease;
            transition: all 1s ease; /* Время изменения цвета */
}
a:hover {
    color: #1657a1;
}
a:visited {
    color: #c6c2c3;
}
   table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
   table.text td {
    vertical-align: top; /* Выравнивание по верхнему краю */
   }

