body {
    background: url(sdggdghfg.jpg);
    /* color: #000000; */
    /* font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; */
    /* margin: 5px 10px 10px 10px; */
    /* padding: 0px; */
    background-size: 20%;
    background-color: #000000;
    background-blend-mode: luminosity;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
}

.page {
    background: #333333bf;
    color: #ffffffb3;
}
a:link {
    color: #a8bed7;
}
a:visited {
    color: #c6c2c3;
}
